<header class="w-full bg-gradient-to-t to-black from-transparent fixed z-50 scroll-smooth px-2">
    <div class="flex mx-auto container justify-between py-10 items-center">
      <div class="text-gray-300 text-xl font-bold ">Portfólio</div>
      <div class="text-gray-300 font-medium flex gap-10">
        <li [routerLinkActive]="'item-active'">
          <a  href="#home" class="item-menu item-active">Home</a>
        </li>
        <a href="#sobre-mim" class="item-menu">Sobre mim</a>
        <a href="#projetos" class="item-menu">Projetos</a>
        <a href="#footer" class="item-menu">Contato</a>
      </div>
    </div>
</header>
