<section class="pt-72 overflow-x-hidden" data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="top-center">
  <div class="relative -z-10">
    <div class="text-gray-200 text-center flex justify-center -z-30" #circle3>
    <img  class="w-16 h-16 absolute -ml-[1100px] mt-48 " 
          src="../../assets/html.png" 
          alt=""
          #icon3>
    <img  class="w-16 h-16 absolute ml-[900px] mt-32 " 
          src="../../assets/css.png" 
          alt=""
          #icon3>
      <div class="p-60 rounded-full border border-gray-200 radial-gradient -z-40 border-opacity-50" #circle2>
        <img  class="w-16 h-16 absolute ml-32 mt-32 z-20" 
        src="../../assets/js.png" 
        alt=""
        #icon2>
        <img  class="w-16 h-16 absolute ml-[900px] mt-32 z-20" 
        src="../../assets/ts.png" 
        alt=""
        #icon2>
        <div class="p-60 rounded-full border border-gray-200 -z-50 border-opacity-50" #circle1>
          <img  class="w-20 h-20 absolute ml-10 mt-10 z-20" 
                src="../../assets/angular.png" 
                alt=""
                #icon1>
          <img  class="w-20 h-20 absolute ml-[480px] mt-10 z-20" 
                src="../../assets/tailcss.png" 
                alt=""
                #icon1>      
          <div class="w-[600px] h-[600px] rounded-full border border-gray-200 flex flex-col justify-center items-center border-opacity-50" #icon1>
            <span class="font-bold text-3xl">SOBRE MIM</span>
            <p class="w-80 justify-center pt-5">Possuo foco em desenvolvimento com Angular, Typescript, Javascript, Tailwinds, HTML , CSS dentre outras tecnologias usadas para o desenvolvimento web/mobile.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-black w-screen h-[700px] relative -top-[650px] -z-[1] container-objects-move brightness-70 overflow-hidden" #mesa>
    <div class="absolute bg-gradient-to-t to-black from-transparent w-full h-full z-50"></div>
    <div>
      <!-- <img class="absolute h-96 ml-96 mt-32" src="../../assets/notebook.png"  -->
      <img class="absolute h-96 -rotate-90 -left-96" src="../../assets/notebook.png" 
      alt=""
      #notebook>
      <!-- <img class="absolute h-48 right-96 mt-32 -rotate-45" src="../../assets/celular.png"  -->
      <img class="absolute h-48 right-0" src="../../assets/celular.png" 
      alt=""
      #celular>
      <!-- <img class="absolute h-32 right-[700px] mt-80 -rotate-12" src="../../assets/cafe.png"  -->
      <img class="absolute h-32 right-0 mt-[600px]" src="../../assets/cafe.png" 
      alt=""
      #cafe>
    </div>
  </div>
  </section>
