<!-- <app-header></app-header> -->
<header class="w-full bg-gradient-to-t to-black from-transparent fixed z-50 px-2 lg:px-12">
    <div class="flex mx-auto justify-between py-10 items-center relative">
      <div class="text-gray-300 text-xl font-bold ">Portfólio</div>
      <div [ngClass]="{'-right-36': !menu,'-right-3': menu}" class="text-gray-300 font-medium gap-10 flex lg:flex-row lg:static flex-col absolute -right-36 top-3 bg-black p-10 lg:p-0 lg:bg-transparent rounded-lg">
        <label for="check">
          <input type="checkbox" name="check" id="check" class="hidden" #check (change)="changeChecked()">
          <fa-icon  class="absolute right-32 top-0 p-8 bg-black rounded-lg lg:hidden" 
                    [icon]="faBars"
                    *ngIf="!menu">
          </fa-icon>
          <fa-icon  class="absolute right-32 top-0 p-8 bg-black rounded-lg lg:hidden" 
                    [icon]="faClose"
                    *ngIf="menu">
          </fa-icon>
        </label>
        <a href="#home" class="item-menu item-active">Home</a>
        <a href="#sobre-mim" class="item-menu">Sobre mim</a>
        <a href="#projetos" class="item-menu">Projetos</a>
        <a href="#footer" class="item-menu">Contato</a>
      </div>
    </div>
</header>

<!-- <div class="absolute top-0 w-full -z-50 h-screen overflow-hidden">
  <video  class="h-full w-full object-cover"
          autoplay
          loop
          muted
          preload="metadata"
          >
          <source class="h-full" src="../assets/wave-tech-bg.mp4" type="video/mp4">
          
  </video>
</div> -->


<app-home id="home"></app-home>
<!-- <img src="../assets/wave.png" alt="" class="brightness-95 absolute top-96 lg:-top-10 left-0 w-full -z-50"> -->
<app-sobre-mim id="sobre-mim"></app-sobre-mim>
<app-projetos id="projetos"></app-projetos>
<app-contato></app-contato>
<app-footer id="footer"></app-footer>

