<section class="w-full pb-20 pt-52 px-2" data-aos="zoom-in-down" data-aos-duration="2000">
    <div class="container mx-auto flex justify-around items-center flex-col lg:flex-row">
      <div class="text-gray-300 flex-col gap-3 hidden lg:flex">
        <span class="font-medium text-xl">Hello World!</span>
        <span class="">Eu sou <span class="font-black text-white text-3xl pl-2">Alisson Antunes.</span></span>
        <span class="font-light">Desenvolvedor Web</span>
      </div>
      <div class="text-gray-300 flex flex-col gap-3 text-center lg:hidden">
        <span class="font-medium text-xl">Hello World!</span>
        <span class="">Eu sou</span>
        <span class="font-black text-white text-2xl">Alisson Antunes.</span>
        <span class="font-light">Desenvolvedor Web</span>
      </div>
      <div class="w-40 h-40 lg:w-80 lg:h-80 mt-12 bg-gray-400 rounded-full perfil"></div>
    </div>
  </section>